@font-face {
    font-family: 'lars';
    src: url('/fonts/Lars-Regular.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'lars';
    src: url('/fonts/Lars-RegularItalic.woff2')
      format('woff2');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'lars-extended';
    src: url('/fonts/Lars-RegularExtended.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'lars-extended';
    src: url('/fonts/Lars-RegularExtendedItalic.woff2')
      format('woff2');
    font-weight: normal;
    font-style: italic;
  }

:root {
    /* Typography */
    --font-family-normal: 'lars-extended';
    --font-family-extended: 'lars-extended';
    --font-size-small: 12px;
    --font-size-medium: 18px;
    --font-size-large: 24px; 

    /* Colors */
    --foreground: black;
    --background: white;
    --green: rgb(0, 204, 102);
    --grey: grey;

    /* Spacing */
    --navigation-vertical-spacing: 30px;
    --navigation-horizontal-spacing: 30px;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    margin: 0;
  }

.no-scroll {
    overflow: hidden;
}

h6 {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: normal;
}

img {
  max-width: 100%;
}

iframe {
  width: 100%;
  display: block;
}

.embed-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  height: 100%;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.embed-responsive-slide {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 80%;
  padding-bottom: 56.25%;
  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.column-section {
  padding-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .column-section {
    margin-bottom: 40px;
    padding-top: 20px;
  }
}

.work-summary {
  line-height: 1.2em;
}

.work-summary a {
  color: var(--green);
  font-style: italic;
  text-decoration: none;
}

.work-summary a:hover {
  color: var(--foreground);
}

figure {
  margin: 0;
}